
.quiz {
  margin-bottom: 55px;
}

.content h2{
  margin-top: 15px;
  margin-bottom: 25px;
}
  
ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
  
li {
    
    margin-top: 8px;
    background-color: white;
    padding: 16px;
    border: 3px solid #ff78a0;
    border-radius: 20px;
    font-size: 20px;
}

.question-card h2{
  margin: 0;
}


.question-card {
  /* Center the div  */
  margin: 0 auto;
  
  /* Dimensions  */
  width: 55%; /* Can be in percentage also. */
  height: auto;
  
  /* Visual  */
  background-color: #dadada;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.question-text {
  color: darkblue;
  font-size: 24px;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: #ccc;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}